:root {
    --color-primary: #292929;  /* Primary color */
    --color-secondary: #96a458;  /* Secondary color */
    --color-tertiary: #E4C5B9;  /* Tertiary color */
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-tertiary {
    background-color: var(--color-tertiary) !important;
}

/* Custom Button Styles */
.btn-primary {
    background-color: var(--color-primary) !important;
    color: #fff;
    border: 1px solid var(--color-primary);
}

.btn-primary:hover {
    background-color: #808080 !important;  /* Darker shade on hover */
}

.btn-secondary {
    background-color: var(--color-secondary) !important;
    color: #fff;
    border: 1px solid var(--color-secondary);
}

.btn-secondary:hover {
    background-color: #808080 !important;  /* Darker shade on hover */
}

.btn-tertiary {
    background-color: var(--color-tertiary) !important;
    color: #fff;
    border: 1px solid var(--color-tertiary);
}

.btn-tertiary:hover {
    background-color: #808080 !important;  /* Darker shade on hover */
}

/* Apply Roboto font globally */
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold for headers */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular weight for paragraphs */
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* Medium weight for card titles */
}

.narrow-container {
    max-width: 940px;
}

.dropdown-header.text-primary {
    color: #8B9A46 !important;
}

table {
    width: 100%;
}

.price {
    color: #DC143C;
    font-weight: bold;
}

body {
    padding-top: 100px; /* Adjust this value based on the combined height of your header and navbar */
}

.icon-secondary {
    color: var(--color-secondary);
}

@media (max-width: 768px) {
    .dropdown-menu {
      max-height: 300px; /* Limit the height to prevent overflow */
      overflow-y: auto; /* Enable vertical scrolling */
      overflow-x: hidden; /* Disable horizontal scrolling */
    }
  }
  